@import './base.css';

.rotate-90 {
    transform: rotate(90deg);
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.gap-2 {
    gap: 2px;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.ml-52 {
    margin-left: 52px;
}

.ml-8 {
    margin-left: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-2 {
    margin-top: 2px;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-menu {
    cursor: context-menu;
}

input[type="checkbox"] {
    display: none;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
    background-color: white;
    border: 1px solid #999;
    cursor: pointer;
}

.user-none-select {
    user-select: none;
}

.font-black {
    color: #000;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
    width: 20px;
    height: 18px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}